<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

		<title>메인페이지</title>

        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>

        <script type="text/javascript">
        </script>
		<script type="text/javascript" src="./static/js/mypage.js" charset="UTF-8"></script>
		<script type="text/javascript" src="./static/js/main.js" charset="UTF-8"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


        <style>
        	body {
        	    padding-top:30px;
        	    background-image: url("http://cfile22.uf.tistory.com/image/1356B90B49C3C24242136D");
        	    background-repeat: no-repeat;
                background-size: cover;
        	}
			#title
			{
				margin-bottom:30px;
				text-align:center;
				padding-left:35%;
				padding-right:35%;
			}
			#navigation
			{
			    align:right;
			    margin-bottom:90px;
			}
			A:link
			{
			    text-decoration:none;
			    color:#102317;
			}
			A:visited
			{
			    text-decoration:none;
			    color:#102317;
			}
			A:active
			{
			    text-decoration:none;
			    color:#102317;
			}
			A:hover
			{
			    text-decoration:none;
			    color:#102317;
			}
			#write_post
			{
			    display:none;
			    padding-left:200px;
			    margin-left:200px;
			}
			#main
			{
			    padding-top:30px;
			    display:none;
			}
			.check
			{
			    padding-left:10px;
			}
			#checkbox_wrap
			{
			    display:none;
			    padding-bottom:15px;
			}
    	</style>

	</head>
	<body>
		<div class = "container">
			<div id="title" >
			<a href="/"><h1>애완동물 입양 사이트</h1></a>
			</div>
            <div id="navigation">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation" ><a href="/mypage">마이페이지</a></li>
                    <li role="presentation"><a href="#" onclick="deleteMyCookie()">로그아웃</a></li>
                </ul>
            </div>
            <div id="checkbox_wrap">
                <form action="/search" method="post" enctype="multipart/form-data">
                    <label class="check">종류</label>
                    <input type="text" style="padding-bottom:5px;" name="kinds">
                    <label class="check">품종</label>
                    <input type="text" style="padding-bottom:5px;" name="kinds_kinds">
                    <label class="check">여</label>
                    <input type="checkbox" value="1" name="female">
                    <label class="check">남</label>
                    <input type="checkbox" value="0" name="male">
                    <label class="check">무료</label>
                    <input type="checkbox" value="1" name="free">
                    <label class="check">유료</label>
                    <input type="checkbox" value="0" name="nfree">
                    <label class="check">중성화 O</label>
                    <input type="checkbox" value="1" name="NO">
                    <label class="check">중성화 X</label>
                    <input type="checkbox" value="0" name="NX">
                    <label class="check">지역</label>
                    <input type="text" style="padding-bottom:5px;" name="region">
                    <button type="submit" class="btn btn-success btn-sm">검색</button>
                </form>
            </div>
			<div id="main">
				<table class ="table table-striped" id="post_list_wrap">
                    <thead>
                        <tr>
                            <th width="5%">번호</th>
                            <th width="10%">종류</th>
                            <th width="10%">품종</th>
                            <th width="5%">성별</th>
                            <th width="38%">제목</th>
                            <th width="8%">작성자</th>
                            <th width="24%">날짜</th>
                        </tr>
                    </thead>
                    <tbody id="post_list">
                        {%for i in list%}
                        <tr>
                            <th scope="row" align="center">{{i.no}}</th>
                            <td>{{i.kinds}}</td>
                            <td>{{i.kinds_kinds}}</td>
                            {%if i.gender==1 %}
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;여</td>
                            {%else%}
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;남</td>
                            {%endif%}

                            <td><a href="/view/{{list[i]}}.no">{{i.title}}</a></td>
                            <td>{{i.auth_id}}</td>
                            <td>{{i.time}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br><br>
                <div id="page_num" style="text-align:center;">

                </div>
                <form action="/search" method="get" class = "navbar-form pull-right">
                        <div class="form-group">
                            <select name = "searchopt" class ="form-control" style="width:100px;height:33px">
                                <option>작성자</option>
                                <option>품종</option>
                                <option>성별</option>
                                <option>지역</option>
                            </select>
                                <input type="text" class="form-control" name="email" style="width:300px;height:33px">
                        </div>

                        <button type="submit" class="btn btn-success btn-sm">검색</button>
                </form>
                <br>
                <br>
                <br>
                <button class="btn btn-success btn-sm" onclick="Btn_write_post()">글쓰기</button>

			</div>
            <div id="write_post">
                <form action="/write_post" method="POST" id="do-twit-wrap" enctype=multipart/form-data>
                    <div class="form-group">
                        <div class="label_form"  style="float:left;padding-right:30px;">
                            <label>글 제목</label>
                        </div>
                        <div class="contents_form">
                            <input type="text" class="form-control" id="post_title" name="post_title" style="width:680px;float:clear;">&nbsp;&nbsp;
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>애완동물 : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="btn-group" id="pet_button" >
                            <select name="pet" id="pet_list">
                                <option value="lit">리트리버</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label_form" style="float:left;padding-right:30px;">
                            <label>글 내용</label>
                        </div>
                        <div class="contents_form">
                            <textarea name="post_content" id="post_content" cols="82" rows="10" maxlength="1024" ></textarea>
                        </div>
                    </div>
                    <br>
                    <input type="file" name="file" id="twit_file">
                    <br><br>
                    <button type="submit" class="btn btn-success btn-lg" style="margin-bottom:50px;">글쓰기</button>
                </form>
            </div>
		</div>
	</body>
</html>
